body {
  text-align: center;
  margin: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
div:first-child {
   text-align: center;
   margin-top: 280px;
}
div:nth-child(2) {
   margin: auto;
}
div:nth-child(3) {
  height: 30px;
	width: 190px;
  background-color: white;
  margin-top: 10px;
   margin: auto;
}
div:nth-child(4) {
   margin: auto;
}
div:nth-child(5) {
  height: 30px;
	width: 190px;
  background-color: white;
  margin-top: 10px;
   margin: auto;
}
div:nth-child(6) {
  height: 40px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #00BFFF;
  margin-top: 20px;
  text-align: center;
  margin: auto;
}
a {
  text-decoration: none;
  color: blue;
}
#au {
  text-align: center;
  color: black;
  margin: auto;
}
