h1:first-child {
  margin-top: 250px;
  text-align: center;
  color: black;
}
h1:nth-child(2) {
  text-align: left;
  color: black;
}
h1:nth-child(3) {
  text-align: left;
  color: black;
}
div:first-child {
  position: relative;
  height: 300px;
	width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: auto;
}
div:nth-child(2) {
  position: absolute;
  height: 30px;
	width: 150px;
  border: 1px solid black;
  background-color: white;
  margin: auto;
}
div:nth-child(3) {
  position: absolute;
  height: 30px;
	width: 150px;
  border: 1px solid black;
  background-color: white;
  margin: auto;
}
body {
  text-align: center;
  margin: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
a {
  text-decoration: none;
  color: black;
}
